.pagesidebar {
  margin: 0;
  position: relative;
  float: left;
  padding: 0;
  width: 80px;
  min-height: 100vh;
  background-color: #133a26;
  border-style: solid;
}

.pagecontent {
  right: 100px;
}

.body {
  font-family: monospace;
}

.userphoto {
  height: 156px;
  width: 156px;
  right: 0px;
  padding: 2px;
  border: 1px solid black;
}

.registerbox {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding: 2px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #e1eaea;
}

.rboxcontent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loginbutton {
  position: relative;
  text-align: center;

}

.dropdown {
  position: relative;
}

#nonloadrecipes {
  display: none;
}

.notesform {
  padding: 20px;
}

.recipeimage {
  height: 360px;
  width: 360;
  padding: 2px;
  border: 5px solid #595959;
}

.smallrecipeimage {
  width: 90px;
  height: 90px;
  border: 1px solid #595959;
}

.recipeimagepreview {
  width: 120px;
  height: 160px;
  border: 1px solid #595959;
}
