{% extends 'base.html' %}

{% block containerbodycontent %}
  {% if user.is_authenticated %}
  <div class='panel panel-default'>
    <h4>Add Items to inventory</h4>
    <hr>
    <form type='' method='post'>
      {% csrf_token %}
      <p><strong>Item name : </strong>{{ form.name }}</p>
      <p><input type='submit' value='Add item'></p>
  </div>
  {% else %}
  <h2>Sorry, you do not have permission to perform this action. </h2>
  <p>Please log in to access this page</p>
  {% endif %}
{% endblock %}
