{% extends 'base.html' %}

{% block containerbodycontent %}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#allrecipes" aria-controls="home" role="tab" data-toggle="tab">All Recipes</a></li>
    <li role="presentation"><a href="#gluttenfree" aria-controls="profile" role="tab" data-toggle="tab">Glutten Free</a></li>
    <li role="presentation"><a href="#dairyfree" aria-controls="messages" role="tab" data-toggle="tab">Dairy Free</a></li>
    <li role="presentation"><a href="#peanutfree" aria-controls="settings" role="tab" data-toggle="tab">Peanut Free</a></li>
    <li role="presentation"><a href="#eggfree" aria-controls="eggfree" role='tab' data-toggle='tab'>Egg Free</a></li>
    <li role="presentation"><a href="#soyfree" aria-controls="soyfree" role='tab' data-toggle='tab'>Soy Free</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="allrecipes">
      <div id='allrecipelistcontent'>
        {% for item in allrecipes %}

          <div class="panel panel-default">
            <img src="{{item.imageUrlsBySize.90}}">
            <strong>{{item.recipeName}}</strong>
            <a class='label label-success' href="{% url 'specificrecipeview' item.id %}">View Recipe</a>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Sort by Allergens -->

    <!-- Glutten -->
    <div role="tabpanel" class="tab-pane" id="gluttenfree">
      {% for item in gluttenfree %}
        <div class="panel panel-default">
          <img src="{{item.imageUrlsBySize.90}}">
          <strong>{{item.recipeName}}</strong>
          <a class='label label-success' href="{% url 'specificrecipeview' item.id %}">View Recipe</a>
        </div>
      {% endfor %}
    </div>

    <!-- Dairy -->
    <div role="tabpanel" class="tab-pane" id="dairyfree">
      {% for item in dairyfree %}
      <div class='panel panel-default'>
        <img src="{{item.imageUrlsBySize.90}}">
        <strong>{{item.recipeName}}</strong>
        <a class='label label-success' href="{% url 'specificrecipeview' item.id %}">View Recipe</a>
      </div>
      {% endfor %}
    </div>

    <!-- Peanut -->
    <div role="tabpanel" class="tab-pane" id="peanutfree">
      {% for item in peanutfree %}
      <div class='panel panel-default'>
        <img src="{{item.imageUrlsBySize.90}}">
        <strong>{{item.recipeName}}</strong>
        <a class='label label-success' href="{% url 'specificrecipeview' item.id %}">View Recipe</a>
      </div>
      {% endfor %}
    </div>

    <!-- Egg -->
    <div role='tabpanel' class='tab-pane' id='eggfree'>
      {% for item in eggfree %}
      <div class='panel panel-default'>
        <img src="{{item.imageUrlsBySize.90}}">
        <strong>{{item.recipeName}}</strong>
        <a class='label label-success' href="{% url 'specificrecipeview' item.id %}">View Recipe</a>
      </div>
      {% endfor %}
    </div>

    <!-- Soy -->
    <div role='tabpanel' class='tab-pane' id='soyfree'>
      {% for item in soyfree %}
      <div class='panel panel-default'>
        <img src="{{item.imageUrlsBySize.90}}">
        <strong>{{item.recipeName}}</strong>
        <a class='label label-success' href="{% url 'specificrecipeview' item.id %}">View Recipe</a>
      </div>
      {% endfor %}
    </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type='text/javascript'>
</script>
{% endblock %}
