{% extends 'recipesbase.html' %}

{% block recipecontent %}
  <h3>All Recipes</h3>
  <hr>
  {% if current_page != '0' %}
  <a class='btn btn-default' href="{% url 'allrecipeview' previous_page %}">Previous Page</a>
  {% endif %}
  <a class='btn btn-default' href="{% url 'allrecipeview' next_page %}">Next Page</a>
  <p></p>
  {% for item in allrecipes %}
    <div class="panel panel-default">
      <a href="{% url 'specificrecipeview' item.id %}"><img src="{{item.imageUrlsBySize.90}}"></a>
        <strong>{{item.recipeName}}</strong>
        <a class='label label-success' href="{% url 'specificrecipeview' item.id %}">View Recipe</a>
      </div>
  {% endfor %}
{% endblock %}
