{% extends 'base.html' %}

{% block containerbodycontent %}
  <h2><img class='smallrecipeimage' src="{{recipe.small_image}}"> Cook {{recipe.title}}</h2>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong>Recipe Ingredients by Instructions</strong>
      <ul>
        {% for item in detailedingredients %}
        <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <hr>
  <p><i>Alter ingredients to the remaining quantity</i></p>
  <form type='' method='post'>
  {% csrf_token %}
  {% for ingredient in ingredientsbeingused %}

    <div class='panel panel-default'>
      <strong>{{ingredient.name}}: </strong>{{form.quantity}}
      <input type="number" placeholder="Current: {{ingredient.quantity}}{% if ingredient.measurementunit != None %}x {{ingredient.measurementunit}}{% endif %}" name="{{ingredient.id}}_quantity">
      {% if ingredient.measurementunit != None %}
        <i>{{ingredient.measurementunit}}</i>
      {% endif %}
    </div>
  {% endfor %}
  <input type='submit' class='btn btn-success' value='Confirm Inventory Update'>
  </form>
  <hr>
{% endblock %}
