{% extends 'base.html' %}

{% block containerbodycontent %}
<!-- User Logged In -->
  {% if user.is_authenticated and current_user == food_item.user %}
      <div class='panel pane-default'>
        <form type='' method='post'>
          {% csrf_token %}
          <strong>Quantity: </strong>{{ form.quantity }} {% if fooditem.measurementunit != None %}{{fooditem.measurementunit}}{% endif %}
          <p><i>Set value to 0 to remove item.</i></p>
        <p><input type='submit' value='Confirm Edit' class='btn btn-default'></p>
        </form>
      </div>
    {% else %}
     <div class='registerbox'>
       <p><strong>You do not have permission to view this page.</strong></p>
    </div>
  {% endif %}
{% endblock %}
