{% extends 'base.html' %}

{% block noncontainerbodycontent %}
{% endblock %}

{% block containerbodycontent %}

<!-- If user is logged in -->
{% if request.user.is_authenticated %}

  <div>

  <h3>What would you like to view?</h3>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#inventory" aria-controls="home" role="tab" data-toggle="tab">Inventory</a></li>
    <li role="presentation"><a href="#possiblerecipes" aria-controls="profile" role="tab" data-toggle="tab">Possible Recipes</a></li>
    <li role="presentation"><a href="#savedrecipes" aria-controls="messages" role="tab" data-toggle="tab">Saved Recipes</a></li>
  </ul>

  <!-- Nav panels -->
  <!-- Inventory -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="inventory">
        <p><a class='btn btn-success' href="{% url 'addfoodview' %}">Add items to inventory</a></h3></p>
      <hr>
      {% for item in useritems %}
        {% if item.quantity > 0 %}
        <div class='panel panel-default'>
          <h4>{{item.name}} x {{item.quantity}}
          {% if item.measurementunit != None %}
          <i>{{item.measurementunit}}</i>
          {% endif %}
          <span class='btn btn-info btn-sm'><a href="{% url 'editfoodview' item.id %}">Edit Item</a></span></h4>
          <i>Last Edit: {{item.date_added}}</i>
        </div>
        {% endif %}
      {% endfor %}
    </div>

  <!-- Possible Recipes -->
    <div role='tabpanel' class='tab-pane' id='possiblerecipes'>
      {% for possiblerecipe in possible_recipes %}
        <div class='panel panel-default'>
          <img class='smallrecipeimage' src="{{possiblerecipe.small_image}}">
          <strong>{{possiblerecipe.title}}</strong>
          <a href="{% url 'cookfoodview' possiblerecipe.id %}" class='btn btn-info'>Cook Recipe</a>
        </div>
      {% endfor %}
    </div>

  <!-- Saved Recipes -->
    <div role='tabpanel' class='tab-pane' id='savedrecipes'>
      {% for recipe in bookmarks %}
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <span><img class='smallrecipeimage' height='90px' width='90px' src="{{recipe.small_image}}"></span> <strong>{{recipe.title}}</strong>
          <a href="{% url 'deletebookmarkview' recipe.id %}" class='label label-danger'>Delete Bookmark</a>
        </div>
        <div class='panel-body'>
          <i>{{recipe.bookmark_date}}</i>
          <br>
          <strong>Notes:</strong> <i>{{recipe.note}}</i>
          <br>
          <a class='btn btn-success' href="{% url 'specificrecipeview' recipe.recipe_key %}">View Recipe</a>
          <a class='btn btn-default' href="">Add missing ingredients to shopping list</a>
        </div>
      </div>
        {% endfor %}
    </div>

</div>
</div>


{% else %}
  <!-- If user is NOT logged in -->
  <h2>Welcome</h2>
  <hr>
  <div class='registerbox'>
    <p>Non logged in users are allowed to browse recipes.
    Please log in or if you wish to access the rest of the application's features.</p>
  </div>
{% endif %}

<!-- JAVASCRIPT -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript">
</script>
{% endblock %}
