{% extends 'base.html' %}

{% block containerbodycontent %}
{% if request.user.is_authenticated %}
<div class='pagecontent'>
  <h4>{{user.username}}</h4>

  <form type='' method='post' enctype='multipart/form-data'>
    <p><strong>User Handle</strong></p>
    <i>Your display name.</i>
    {{form.errors}}
    <p>{{form.userhandle}}</p>
    <p><strong>User Description</strong></p>
    <i>Max length: 300</i>
    <p><strong>Make Bookmarks Private: </strong></p>
    <p>{{form.bookmarks_private}}</p>
    <p>{{form.description}}</p>
    <p><strong>Profile Photo</strong></p>
    {% if user.userpage.photo %}
    <div class='userphoto'><img height='150px' width='150px' id='preview' src="{{user.userpage.photo.url}}"></div>
    {% else %}
    <div class='userphoto'><img height='150px' width='150px' src="{{holderphoto}}"></div>
    {% endif %}
    Please select a file
    <p>{{form.photo}}</p>
    <i>Recommended resolution: 100px</i>
    {% csrf_token %}
    <p><input class='btn btn-default' type='submit' value='Update Profile'></p>
  </form>

{% else %}
  <h1>You are not logged in.</h1>
  <h3>Please either login or create an account to view this page.</h3>
  <a class='btn btn-default' href="{% url 'login' %}">Login</a>
  <a class='btn btn-default' href="{% url 'registerview' %}">Register</a>
{% endif %}
</div>
{% endblock %}



