{% extends 'base.html' %}

{% block containerbodycontent %}
<!-- Search Form Here -->
  <h2>Results</h2>
  <hr>
  {% if current_page != '0' %}
    <a class='btn btn-default' href="{% url 'searchrecipesview' previous %}{{search_box}}">Previous Page</a>
  {% endif %}
  <a class='btn btn-default' href="{% url 'searchrecipesview' next %}{{search_box}}">Next Page</a>
  <p></p>
  {% for result in results %}
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <a href="{% url 'specificrecipeview' result.id %}"><img  class='smallrecipeimage' src="{{result.imageUrlsBySize.90}}"></a>
        <strong>{{result.recipeName}}</strong> <a class='btn btn-success' href="{% url 'specificrecipeview' result.id %}">View Recipe</a>
      </div>
      <div class='panel-body'>
        <strong>Ingredients: </strong>
          {% for ingredient in result.ingredients %}
            {{ingredient}},
          {% endfor %}
      </div>
    </div>
  {% endfor %}

{% endblock %}
