{% extends 'base.html' %}

{% block containerbodycontent %}
<h2>
  {% if userpage.photo.url != null %}
  <img class='smallrecipeimage' height='90px' width='90px' src="{{userpage.photo.url}}">
  {% endif %}
  {% if userpage.userhandle == '' %}
    {{user.username}}
  {% else %}
    {{userpage.userhandle}}
  {% endif %}

</h2>
  <hr>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <p>
      <!-- If current user = userpage user -->
      {% if user == current_user %}
      <a class='btn btn-default' href="{% url 'profileview' %}">Edit User Information</a>
      {% endif %}
    </div>
    <div class='panel-body'>
      <h4>Bookmarked Recipes</h4>
      {% for bookmark in bookmarked_recipes %}
      <p><strong>{{ bookmark.title }}</strong>
      <i>{{bookmark.bookmark_date}}</i></p>
      <p><a class='btn btn-default' href="{% url 'specificrecipeview' bookmark.recipe_key %}">View Recipe</a></p>
      {% endfor %}

      <hr>
      <h4>Uploaded Recipes</h4>
      {% for recipe in uploads %}
      <p><strong>{{recipe.title}}</strong>
      <i>{{recipe.upload_date}}</i></p>
      <p><a class='btn btn-default' href="{% url 'viewuploadededrecipeview' recipe.id %}">View Recipe</a></p>
      <!-- Needs a view -->
      {% endfor %}
    </div>
  </div>
{% endblock %}
