{% extends 'base.html' %}

{% block containerbodycontent %}

<!-- If user has bookmarks private -->
  {% if user.userpage.bookmarks_private != False and user == current_user or user.userpage.bookmarks_private == False %}
      <h2>Your Bookmarked Recipes</h2>
      <!-- Pagination -->
          {% if is_paginated %}
            <div class='pagination'>
              <span class='page-links'>
                <!-- Previous Page -->
                {% if page_obj.has_previous %}
                <a class='btn btn-default' href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% endif %}
                <span class='page-current'>
                  <span class='label label-default label-lg'>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
                </span>
                <!-- Next Page -->
                {% if page_obj.has_next %}
                <a class='btn btn-default' href="?page={{page_obj.next_page_number}}">Next Page</a>
                {% endif %}
              </span>
            </div>
        {% endif %}
  <hr>

  <!-- Recipes -->
  {% for recipe in recipes %}
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <img class='smallrecipeimage' src="{{recipe.small_image}}">
        {{recipe.title}}
        <i> {{recipe.bookmark_date}}</i>
      </div>
      <div class='panel-body'>
        <p><strong>Notes: </strong>
        {% if recipe.note != '' %}
        <i>{{recipe.note}}</i>
        {% else %}
        <i>None</i>
        {% endif %}
        </p>
        <!-- Buttons -->
        <p><a class='btn btn-default' href="{% url 'specificrecipeview' recipe.recipe_key %}">View Recipe</a>
        {% if current_user == user %}
        <a class='btn btn-default' href="{% url 'additemstoshoppinglistview' recipe.id %}">Add ingredients to shopping list</a>
        <a class='btn btn-danger' href="{% url 'deletebookmarkview' recipe.id %}">Remove Bookmark</a></p>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  <!-- If users bookmarks are private -->
  {% else %}
  <div class='registerbox'>
    <p>User has set their bookmarks to be private.</p>
  </div>

  {% endif %}


{% endblock %}
